[package]
name = "bevy_simple_text_input"
version = "0.2.0"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Bevy plugin for a simple single-line text input widget."
repository = "https://github.com/rparrett/bevy_simple_text_input"
homepage = "https://github.com/rparrett/bevy_simple_text_input"
documentation = "https://docs.rs/bevy_simple_text_input"
keywords = ["bevy", "gamedev"]
categories = ["game-development"]
readme = "README.md"
exclude = [".github"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.bevy]
version = "0.11"
default-features = false
features = [
    "bevy_ui",
    "bevy_asset",
    "bevy_text"
]

[dev-dependencies.bevy]
version = "0.11"
default-features = true